%div.container
  %div
    %ol.breadcrumb
      %li
        = link_to t('layout.home'), root_path
      %li.current
        = t('layout.glossary')

  %div.page-header
    %h2
      = t('layout.glossary')
      %a{:name => ""}

    <iframe width="480" height="360" src="//www.youtube-nocookie.com/embed/mN0ESu1Up7Y" frameborder="0" allowfullscreen></iframe>
    Más videos: <a href="http://www.encuentro.gov.ar/sitios/encuentro/programas/ver?rec_id=122533">Serie "Hay quorum" de Canal Encuentro</a>

    <iframe src="https://docs.google.com/document/d/1PjdNn9l7H7tpn5Jv65F66VW_nnJ25bjDz_SHr5G0B6Y/pub?embedded=true" style="border:none; width: 100%; height: 1800px"></iframe>


  %nav
    %ul.pagination
      /- ("A".."Z").each do |letter|
      - tmp_previous_letter = String.new
      - tmp_letter = String.new
      - @glossaries.each do |letter|
        - tmp_letter = letter.term[0].downcase
        - if tmp_letter != tmp_previous_letter
          - tmp_previous_letter = tmp_letter
          %li
            %a{:href => "#"+tmp_letter}
              = letter.term[0]

  - tmp_previous_letter = String.new
  - tmp_letter = String.new
  - @glossaries.each do |glossary|
    - tmp_letter = glossary.term[0].downcase
    - if tmp_letter != tmp_previous_letter
      - tmp_previous_letter = tmp_letter
      %a{:name => tmp_letter}
      %h3.text-center
        = tmp_letter.upcase

    %p.palabra
      %strong= glossary.term + ':'
      = glossary.definition
