%section.legisladores
    %div.container
        %div.row
            %div.col-md-12
                %h1.title 
                    = t('main.legisladores_title')
            %div.col-md-12
                %p.copy 
                    = t('main.legisladores_copy')
        %div.row
            %div.low-chamber.col-md-6
                %h2.number
                    = t('main.legisladores_low_chamber_number')
                %p.copy
                    = t('main.legisladores_low_chamber_copy')
                %a{:href => "/legisladores/busquedas?chamber=Diputado" }
                    = t('main.legisladores_low_chamber_cta')

            %div.high-chamber.col-md-6
                %h2.number
                    = t('main.legisladores_high_chamber_number')
                %p.copy
                    = t('main.legisladores_high_chamber_copy')
                %a{:href => "/legisladores/busquedas?chamber=Senador" }
                    = t('main.legisladores_high_chamber_cta')

%section.proyectos
    %div.container
        %div.row
            %div.col-md-12
                %h1.title 
                    = t('main.proyectos_title')
            %div.col-md-12
                %p.copy 
                    = t('main.proyectos_copy')
        %div.row
            %div.number.col-md-6
                %h2.number
                    = @new_bill_count
                    %span 
                        = t('main.proyects_new', bills_date: @date_bills)
            %div.cta.col-md-6
                %a{:href => "/proyectos/busquedas", :class => 'ci-btn' }
                    = t('main.proyectos_cta')
        %div.row
            %p.col-md-6
                = @new_laws_count
                %span 
                    = t('main.new_laws')
                = t('main.last_update', last_update: @last_update)
