%div.container
  %div
    %ol.breadcrumb
      %li
        = link_to t('layout.home'), root_path
      %li
        = link_to t('texts.title'), texts_path
      %li.current
        = @pad_title

  %div.page-header
    %h2
      = @pad_title

    #p.nota{:style => "padding: 2em; border: 1px solid #ccc; background: #eee; margin: 2em;"}
      Nota: El texto de esta página es un esfuerzo colectivo. Si quiere hacer cambios, puede
      %a{:href => @pad[:edit_url] }
        editar la página
      \.

    != @pad[:text]

